body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

/* NAVBAR */
.navbar {
    background: #6c8ec6;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* BUSCADOR */
.search-box {
    background: #ddd;
    margin: 20px auto;
    width: 60%;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    background: #6c8ec6;
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
}

/* TUTORES */
.tutors {
    width: 70%;
    margin: auto;
}

.section-title {
    text-align: center;
    background: #6c8ec6;
    color: white;
    padding: 5px;
    border-radius: 6px;
}

.tutor-card {
    background: #e6e6e6;
    margin: 15px 0;
    padding: 15px;
    display: flex;
    gap: 15px;
    border-radius: 8px;
}

.tutor-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}

.tutor-info {
    flex: 1;
}

.actions button {
    margin-right: 10px;
}

/* FOOTER */
footer {
    background: #2d3e5f;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
}

.more-btn {
    display: block;
    margin: 10px auto;
}