*body{
    margin:0;
    font-family: Arial, sans-serif;

    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background: linear-gradient(120deg,#6aa9ff,#f4a261);
}

.container{
    text-align:center;
}

.logo img{
    width:80px;
}

.logo h1{
    margin:5px 0;
}


.box label{
    display:block;
    text-align:left;
    margin-top:10px;
    font-size:14px;
}

.box input, .box select{
    width:100%;
    padding:8px;
    margin-top:5px;
    border-radius:8px;
    border:1px solid #ccc;
}

.checks{
    display:flex;
    justify-content:space-between;
    margin-top:5px;
}

button{
    margin-top:15px;
    width:100%;
    padding:10px;
    border:none;
    border-radius:20px;
    background:#2d7ff9;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#1c5fd1;
}